// import partials file
@use "mycss";
@use "variable";

.mydiv {
    width   : mycss.$width;
    border  : mycss.$border-1 solid variable.$black;
    overflow: hidden;

    &:hover img {
        scale: 1.2;
    }

    img {
        width         : mycss.$width;
        vertical-align: middle;
        transition    : 1s ease-in-out;
        object-fit    : cover;
    }
}