// use mixin
@mixin setbg($bg:#137be2) {
    background-color: $bg;
}

//create inheritance
%setblock {
    height: 100px;
    width : 100%;
}

.main {
    display: flex;
    gap    : 30px;
}

.div1 {
    @extend %setblock;
    @include setbg;
}

.div2 {
    @extend %setblock;
    @include setbg(#22aa55)
}

.div3 {
    @extend %setblock;
    @include setbg(#df34ac)
}