@use "sass:math";

@mixin shapes($size, $circle) {
    // height: $size;
    width: $size;

    @if $circle {
        border-radius: math.div($size, 100);
    }

    @else {
        border-radius: math.div($size, 50);
    }
}

.square {
    @include shapes(500px, $circle:false);
    background-color              : #58ee13;
    padding                       : 30px;
}

.circle {
    @include shapes(500px, $circle:true);
    background-color              : rgb(7, 58, 144);
    padding                       : 20px;
}