@use "sass:string";

p {
    font-size: 40px;
}

.title {
    font-family: string.quote(Arial);
    font-weight: string.unquote("bold");
}

.title1 {
    font-family: string.unquote("Arial");
    font-weight: string.quote(bold);
}

.title2 {
    font-family: string.unquote("Lucida Sans Regular");
}