$h : 100px;
$w : 100px;

// mixin => mix in
// like group/bunch of properties
@mixin setDiv($bg : #123456) {
    height          : $h;
    width           : $w;
    background-color: $bg;
    box-shadow      : 0 0 6px rgb($bg, 0.7);
}

.main {
    display: flex;
    gap    : 30px;
}

.div1 {
    @include setDiv;
}

.div2 {
    @include setDiv(#aabbcc)
}

.div3 {
    @include setDiv(#ab8833)
}