// variable created for padding, margin, colors, font-sizes etc 
// others as per requirement like borders, radius, height and width etc.

// padding 
$p-1 : 0.5rem;
$p-2 : 1rem;

// margin 
$m-1 : 0.5rem;
$m-2 :1rem;

// colors :
$white : #ffffff;
$black :#000000;
$green :#056a05;

// font-size 
$font-1   : calc(2.5vw + 1.5rem);
$font-2   :calc(2vw + 1rem);
$font-fix :1rem;

// border
$b-1:1px;
$b-2:2px;

// width
$w-1 :300px;

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mydiv {
    width           : $w-1;
    border          : $b-2 solid $black;
    padding         : $p-2;
    margin          : $m-2;
    background-color: $green;
    color           : $white;
}

.mydiv1 {
    width           : $w-1;
    border          : $b-2 dashed $green;
    background-color: $black;
    color           : $white;
    padding-top     : $p-2;
    padding-bottom  : $p-2;
    padding-left    : $p-1;
    padding-right   : $p-1;
}

h1 {
    font-size: $font-2;
}